<main class="flex flex-col justify-between w-1/2 min-h-screen">
  <h1 class="text-4xl text-center text-indigo-700 mb-6">Your Posts</h1>

  <section class="min-h-screen">
    <ul class="flex flex-col mb-6 bg-white rounded overflow-hidden text-left">
      {{#each user.posts as |post| }}
        <li class="px-2 py-8 odd:bg-gray-200">
        <div class="flex justify-between mb-4">
          <h3>
            <a href="/posts/{{post.id}}" class="font-bold">{{post.title}}</a>
          </h3>
          <a href="/posts/{{post.id}}/edit" class="bg-indigo-700 py-2 px-3 rounded text-white">Edit Post</a>
        </div>
        <p class="italic">{{readable_time post.createdAt}}</p>
        </li>
      {{/each}}
    </ul>
    <div class="text-right">
      <a href="/posts/create" class="mt-2 bg-indigo-700 text-white py-2 px-2 rounded">Create Post</a>
    </div>
  </section>
  <section>
    <a href="/posts/create">New Post</a>
  </section>
</main>