<div>
  {{#if posts}}
    <ul>
      {{#each posts as |post| }}
        <li>
          <h2>
            <a href="/posts/{{post.id}}">{{post.title}}</a>
            by {{post.user.username}}
          </h2>
        </li>
      {{/each}}
    </ul>
    {{else}}
      <p>We haven't published any posts yet.</p>
    {{/if}}
</div>